<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="./index.js" defer></script>
  <title>Sessions 2</title>
</head>

<body>
  <div >
    <div >
      <h1 >
        Bienvenido <%= email %>
      </h1>
      <a href="/logout"><button >Log out</button></a>
    </div>
  </div>
  <div>


    <div>
      <h2>Chat</h2>
      <h2 ></h2>
      <form >
        <div>
          <input  type="email" name="email" required placeholder="Ingrese su email..." />
        </div>

        <hr />

        <div>
          <input  type="text" name="nombre" required placeholder="Ingrese su nombre..." />
        </div>

        <hr />

        <div>
          <input  type="text" name="apellido" required placeholder="Ingrese su apellido..." />
        </div>

        <hr />

        <div>
          <input  type="number" name="edad" required placeholder="Ingrese su edad..." />
        </div>

        <hr />

        <div >
          <input  type="text" name="alias" required placeholder="Ingrese su alias..." />
        </div>

        <hr />

        <div >
          <input  type="text" name="avatar" required placeholder="Ingrese su avatar..." />
        </div>

        <hr />

        <div></div>

        <div >
          <div >
            <input  type="text" name="message" required placeholder="Ingrese un mensaje..." />
          </div>

          <div >
            <button type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>