<!DOCTYPE html>
<div >
    <div class="jumbotron" style="background-color: salmon; color: white">
      <h1>USER ERROR LOGIN</h1>
      <button onclick="location.href='/'">
        VOLVER
      </button>
    </div>
  </div>