<!DOCTYPE html>

<div >
    <div  style="background-color: salmon; color: white">
      <h1>USER ERROR SIGNUP</h1>
      <button onclick="location.href='/'">
        VOLVER
      </button>
    </div>
  </div>