<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar usuario</title>
</head>
<body>
    <div >
        <div >
    
          <h1>REGISTRO</h1>
          <br>
          <form class="form" action="/register" method="post" role="form" autocomplete="off">
    
            <div class="form-group">
              <input id="email" name="email" placeholder="Email" class="form-control" type="email" required>
            </div>
    
            <div class="form-group">
              <input id="password" name="password" placeholder="Password" class="form-control" type="password" required>
            </div>
    
  
    
            <div class="form-group">
              <input type="submit" value="Registro">
            </div>
          </form>
    
          <hr>
    
          <div >
            <button  onclick="location.href = '/login'">Ir a Login</button>
          </div>
    
        </div>
      </div>
</body>
</html>