<!DOCTYPE html>
<div >
    <div style="background-color: salmon; color: white">
      <h1>Usuario registrado</h1>
      <button  onclick="location.href='/register'">
        VOLVER
      </button>
    </div>
  </div>